@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-radio {
    width: 16px;
    height: 16px;
    background-color: #99989833;
    border-radius: 50%;
    border: 2px solid #BDB8B8;
    appearance: none;
    cursor: pointer;
    outline: none;
  }

  .custom-radio:checked {
    background-color:#845649 ;
    padding: 1px  ;
    border: 2px solid #BDB8B8;
    
  }
}

.splide__arrow svg {
  fill: #170045 !important;
  width: 15px !important;
  height: 15px !important;
  /* transform: scale(1.5); */
  position: relative !important;
  right: 10%;
}
.splide__slide{
  width: fit-content !important;
}
/* .splide__arrow {
  background: transparent !important;
}

.splide__arrow--prev {
  left: 95% !important;
  top: 110% !important;
  right: 3em !important;
}
.splide__arrow--next {
  top: 110% !important;
}

li img{
  border-radius: 4px;
  height: 208px;
  width: 208px;
} */

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navMenu.active {
  position: fixed;
  top: 10%;
  right: 0%;
}

.hamburger-bar {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: transform 0.3s ease;
}


.navMenu {
  position: fixed;
  top: -110%;
  /* height: 50vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem 1.5rem;
  gap: 20px;
  background-color: #f8f5ff;
  z-index: 20;
  text-align: center;
  box-shadow: 2px 5px 5px rgb(170, 164, 164);
}

.active .hamburger-bar.top {
  transform: translateY(8px) rotate(45deg);
}

.active .hamburger-bar.middle {
  opacity: 0;
}

.active .hamburger-bar.bottom {
  transform: translateY(-8px) rotate(-45deg);
}

.hamburger.active {
  /* position: absolute;
  top: 2%;
  right: 3%; */
  z-index: 30;
}