@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-radio {
    width: 20px;
    height: 20px;
    background-color: #99989833;
    border-radius: 50%;
    border: 2px solid #BDB8B8;
    appearance: none;
    cursor: pointer;
    outline: none;
  }

  .custom-radio:checked {
    background-color:#476A6F ;
    padding: 1px  ;
    border: 2px solid #020252;
    
  }
}

.splide__arrow svg {
  fill: #170045 !important;
  width: 15px !important;
  height: 15px !important;
  /* transform: scale(1.5); */
  position: relative !important;
  right: 10%;
}
/* .splide__arrow {
  background: transparent !important;
}

.splide__arrow--prev {
  left: 95% !important;
  top: 110% !important;
  right: 3em !important;
}
.splide__arrow--next {
  top: 110% !important;
}

li img{
  border-radius: 4px;
  height: 208px;
  width: 208px;
} */